li.savedPlacesItem-content{
  /* width: 100%; */
  display: inline-block;
  text-align: center;
  padding: 24px;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid black;
}

li.savedPlacesItem-content img,h2,h3 {
  width: 100%;
}

@media (max-width: 768px) {
  li.savedPlacesItem-content{
      width: 80%;
      
  }
}